<div class="container-fluid">

    <!-- Start XP Contentbar -->
    <div class="xp-contentbar">

        <!-- Start XP Row -->
        <div class="row">



        </div>
        <!-- End XP Row -->

    </div>
    <!-- End XP Contentbar -->
    <hr>
    <div class="box-footer">
        <button class="btn btn-primary" ng-click="$ctrl.createEmpresa()" ng-if="$ctrl.tabCreate">Incluir</button>
        <button class="btn btn-info" data-toggle="modal" ng-click="$ctrl.updateEmpresa()" ng-if="$ctrl.tabUpdate">Alterar</button>
        <button class="btn btn-danger" ng-click="$ctrl.deleteEmpresa()" ng-if="$ctrl.tabDelete">Excluir</button>
        <button class="btn btn-default" ng-click="$ctrl.cancel()">Cancelar</button>
    </div>
</div>